{% extends "base.html" %}

{% block title %}New order{% endblock %}

{% block content %}

<form method="post" action="#">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.customer.label(class="form-control-label", style="margin-bottom: 5px") }}
        {{ form.customer(class="form-control") }}
    </div>
    <br>
     <div class="btn-group ">
        {{ form.submit(class="btn btn-outline-primary") }}
    </div>

    <div class="btn-group">
        <a href="{{url_for('orders') }}" class="btn btn-outline-primary btn-sm" style="margin-left: 15px" )>Cancel</a>
    </div>
</form>
{% endblock %}